<div class = "profilContainer" >

        <div class = "profileDiv">

            <div class = "mainLabel">
                <h1 >profil</h1>
            </div>
            
            <div class = "unos">
                
                <div class = "imeDiv">
                    <a class = "labeleUnosa">Ime: </a>
                    <input class="imeUnos">
                </div>
                
                <div class = "prezimeDiv">
                    <a class = "labeleUnosa">Prezime: </a>
                    <input class="prezimeUnos">
                </div>
        
                <div class = "usernameDiv">
                    <a class = "labeleUnosa">Username: </a>    
                    <input class="usernameUnos">
                </div>
                
                <div class = "passwordDiv">
                    <a class = "labeleUnosa">Password: </a>      
                    <input class="passwordUnos">
                </div>
        
                <div class = "emailDiv">
                    <a class = "labeleUnosa">Email: </a>
                    <input class="emailUnos">
                </div>
        
                <div class = "mobBrDiv">
                    <a class = "labeleUnosa">telefon: </a>
                    <input class="mobBrUnos" >
                </div>
        
            </div>

            <div class = "saveChangeButton"  (click) = "commitChange()">Sacuvaj izmene</div>
        </div>
</div>