$primary: rgb(255, 128, 0);

div.naziv {
  border: 3px double $primary;
  border-radius: 20px;
  box-shadow: 5px 5px 10px;
  background-color: $primary;
  margin: 10px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

div.restoranDetaljniPrikaz {
  //display: flex;
  //flex-direction: column;
  //flex-wrap: wrap;
}

a.ocenaLab {
  margin: 0px;
  font-size: 20px;
}

div.ocenaZvezdica {
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: $primary;
  padding: 10px;
  box-shadow: 5px 5px 10px;
}

div.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  div.radnoVreme{
    margin: 10px;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 5px 5px 10px;
      background-color: $primary;

    font-size: 24px;
  }

  div.slike {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    div.slikaDiv {
      margin: 10px;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 5px 5px 10px;
      background-color: $primary;

      display: flex;
      flex-direction: column;
      align-items: center;

      img.slika {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  div.lokacijaDogadjaj {
    max-width: 800px;
    min-width: 220px;
    padding: 10px;

    div.mapaDiv {
      display: flex;
      flex-direction: column;
      align-items: center;

      border-radius: 20px;
      border: 15px solid $primary;
      box-shadow: 5px 5px 10px;
      padding: 20px;
      background-color: $primary;
      // height: 100%;
      // width: 100%;

      img.lokacija {
        width: 100%;
        height: 100%;
        margin: 10px;
        border-radius: 20px;
        border: 15px solid $primary;
        box-shadow: 5px 5px 10px;
        border: 1px solid black;
        padding: 20px;
        background-color: $primary;
        &:hover {
          opacity: 0.9;
        }
      }
    }

    div.dogadjajDiv {
      border: 1px solid black;
      border-radius: 20px;
      box-shadow: 5px 5px 10px;
      background-color: $primary;

      max-width: 800px;
      min-width: 220px;

      margin: 10px;
      padding: 10px;

      display: flex;
      justify-content: center;

      div.dogadjaj {
        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 100%;
        min-width: 220px;
      }
    }
  }
}

div.rezervisanjeStolova {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rezervisi {
  background-color: $primary;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.stoLabel {
  margin: 10px;
}

.stoZa2,
.stoZa4,
.stoZa6,
.stoZa10 {
  display: flex;
}

div.oceniDiv {
  background-color: $primary;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px;

  display: flex;
  font-size: 30px;

  fa-icon.zvezdica {
    margin: 10px;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}

.leafletMapa {
  width: 500px;
  height: 500px;
}
